<!DOCTYPE html>
<html lang='zh-cn'>

<head>
  <title>Fortress_持续集成一体化数据堡垒系统</title>
  <!-- Chasing Dreams and Encouragement Network -->
  <meta name=keywords content="CI,测试,数据生成,爬虫,AI">
  <meta name=description content="持续集成一体化数据堡垒系统">
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv='description' content='www.yixzm.cn' />
  <meta name="robots" content="nofollow" />
  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <base target="blank"/>
  <style>
    .nav li {
      display: inline-block;
      padding: .618rem;
    }

    .job-item {
      width: 60%;
      padding: .618rem;
      display: inline-block;
      border-bottom: solid 1px blueviolet;
    }
  </style>
</head>

<body>
  <nav>
    <ul class="nav">
      <li><a href="/">首页</a></li>
      <li><a href="/testing/">测试子系统</a></li>
      <li><a href="/spider/">爬虫</a></li>
      <li><a href="/utils/">工具集</a></li>
      <li><a href="/ai/">客服机器人（AI）</a></li>
      <li><a href="/admin/">管理后台</a></li>
    </ul>
  </nav>